/* buttons.css */

/* Estilo base para os botões */
.button {
  display: inline-block;
  padding: 10px 20px;
  margin:25px 0;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilo para o botão de gerar batalha */
.generate-button {
  background-color: #4CAF50;
  color: white;
}

.generate-button:hover {
  background-color: #45a049;
}

/* Estilo para o botão de obter resultado */
.result-button {
  background-color: #2196F3;
  color: white;
}

.result-button:hover {
  background-color: #1e87db;
}